@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="container col-7">
    <h1 class="text-center">Política de Privacidade</h1>

    <h5 class="py-3"> Última atualização: 11 de maio de 2025</h5>

    <ol>
        <li>
            Introdução
            <p class="pt-2">
                Sua privacidade é importante para nós. Esta Política de Privacidade descreve como
                coletamos, usamos,
                armazenamos e protegemos suas informações pessoais quando você utiliza nossa plataforma.
            </p>
        </li>
        <li>
            Informações que Coletamos
            <p class="pt-2">
                Coletamos as seguintes informações quando você utiliza nossa plataforma:
                <strong>
                    Informações de
                    Usuário:
                </strong>
                Nome, nome de usuário ou endereço de email cadastrado.
            </p>
        </li>
        <li>
            Como Usamos Suas Informações
            <p class="pt-2">
                Utilizamos suas informações para: Processar o pagamento e enviar o link da página personalizada via
                email.Personalizar e criar a página do casal com as informações fornecidas.Melhorar nossos serviços
                e suporte ao cliente.
            </p>
        </li>
        <li>
            Compartilhamento de Informações
            <p class="pt-2">
                Não compartilhamos suas informações pessoais com terceiros.
            </p>
        </li>
        <li>
            Segurança
            <p class="pt-2">
                Implementamos medidas de segurança para proteger suas informações pessoais contra acesso, uso ou
                divulgação não autorizados. No entanto, nenhuma transmissão de dados pela internet é completamente
                segura, e não podemos garantir a segurança absoluta.
            </p>
        </li>
        <li>
            Retenção de Dados
            <p class="pt-2">
                Reteremos suas informações pessoais apenas pelo tempo necessário para cumprir as
                finalidades para as quais foram coletadas ou conforme exigido por lei.
            </p>
        </li>
        <li>
            Seus Direitos
            <p class="pt-2">
                Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Para exercer esses
                direitos, entre em contato conosco pelo email: daniddias53@gmail.com
            </p>
        </li>
        <li>
            Alterações nesta Política de Privacidade
            <p class="pt-2">
                Podemos atualizar esta Política de Privacidade periodicamente. Quando fizermos isso, revisaremos a
                data da "última atualização" no topo desta página. É sua responsabilidade revisar esta política
                periodicamente para se manter informado sobre quaisquer alterações.
            </p>
        </li>
        <li>
            Contato
            <p class="pt-2">
                Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco pelo email:
                daniddias53@gmail.com
            </p>
        </li>
    </ol>
</div>
