@model ItensViewModel

<div class="container">
    <form asp-action="save">
        <input type="hidden" name="operacao" value="@ViewBag.Operacao" />
        <input type="hidden" asp-for="Id"/>
            <input type="hidden" id="Persona-id" name="PersonagemId" value="@ViewBag.Personagem" />
        
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <label>Nome:</label>
                <input class="bg-black text-white form-control" required asp-for="Nome" />
                <span class="text-danger" asp-validation-for="Nome"></span>
            </div>

            <div class="col-md-3 col-sm-6">
                <label>Descrição:</label>
                <input class="bg-black text-white form-control" asp-for="Descricao" />
                <span class="text-danger" asp-validation-for="Descricao"></span>
            </div>

            <div class="col-md-3 col-sm-6">
                <label>Espaço:</label>
                <input class="bg-black text-white form-control" required asp-for="Espaco" />
                <span class="text-danger" asp-validation-for="Espaco"></span>
            </div>

            <div class="col-md-3 col-sm-6">
                <label>Categoria:</label>
                <input class="bg-black text-white form-control" required asp-for="Categoria" />
                <span class="text-danger" asp-validation-for="Categoria"></span>
            </div>
        </div>
        <br />
        @if (ViewBag.Operacao == "I")
        {
            <button class="btn Rpg-Button" type="submit">Adicionar ao inventário</button>
        }
        else
        {
            <button class="btn Rpg-Button" type="submit">Salvar Alterações</button>
        }

    </form>
</div>