@model UsuarioViewModel
@{
    var environment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
    var formActionUrl = environment == "Production"
     ? "https://www.danieloliveira.net.br/FichaRPG/Usuario/Save"
     : Url.Action("Save", "Usuario");
}
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="@Url.Content("~/css/cadastro.css")" asp-append-version="true"/>
</head> 
<div class="limiter">
        <div class="container-login">
            <div class="wrap-login p-l-55 p-r-55 pt-4 p-b-54">
                <form class="login-form"  action="@formActionUrl" >
                    <input type="hidden" name="operacao" value="@ViewBag.Operacao" />
                    <span class="login-form-title p-b-5">Cadastro</span>
                    <div class="wrap-input validate-input m-b-23">
                        <span class="label-input">Nome</span>
                        <input class="input100" required asp-for="Nome" placeholder="Digite seu nome" />
                    </div>
                    <div class="wrap-input validate-input m-b-23">
                        <span class="label-input">Usuário ou Email</span>
                        <input class="input100" required asp-for="UsuarioLogin" placeholder="Digite seu email/nome de usuário" />
                    </div>
                     <div class="wrap-input validate-input m-b-23">
                        <span class="label-input">Senha</span>
                        <input class="input100" required type="password" asp-for="Senha" placeholder="Digite sua senha" />
                    </div>

                    <div class="container-login-form-btn">
						<div class="wrap-login-form-btn">
							<div class="login-form-bgbtn"></div>
							<button type="submit" class="login-form-btn">
								Cadastrar
							</button>
						</div>
					</div>
                    <span  class="text-danger">@ViewBag.Erro</span>
                    <div class="txt1 text-center p-t-54 p-b-20">
						<span class="text-light">Já possui uma conta?</span> <br />
                    <a asp-action="Index" asp-controller="Login" >Entre</a>
					</div>
                </form>
            </div>
        </div>
    </div>